#gradient-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
   
    --gradient-color-1: #00629b;  /* deep custom blue */
    --gradient-color-2: #84caff;  /* bright sky blue */
    --gradient-color-3: #d0f0ff;  /* soft ice blue */
    --gradient-color-4: #a3d8ff;  /* calm light blue */
    box-sizing: border-box !important;
    z-index: -2;
}
.home-hero-canvas{
    height:100%;
}
.overlay{
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 0 7.5rem;
    box-sizing: border-box;
}

.hero h1{
    margin-top: 0.5rem;
    color:white;
    font-size: 5rem;
    font-weight: 800;
    line-height: 5rem;
}

.hero h2{
    margin-top: 1.5rem;
    color:white;
    font-size: 2.2rem;
    font-weight: 400;
}
.hero-logos-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
.hero-logos-flex .sb-logo{
    width: 80px;
}
.hero-logos-flex .aast-logo{
    width: 80px;
}
@media only screen and (max-width: 768px){
    .hero h1{
        font-size: 3rem;
        font-weight: 800;
        line-height: 3rem;
        text-align: center;
    }
    .hero{
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0 3rem;
        box-sizing: border-box;
    }
    .hero h2{
        margin-top: 1.5rem;
        color:white;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }
    .hero-logos-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}